body{
    display: flex;
    
    align-items: center;
    flex-direction:column;
    font-family: sans-serif;
}

.form{
    width: 50%;
    position: relative;
    height: 9vh;
    overflow: hidden;
}

.form input[type="text"]{
    margin-top: 2vh;
}

.form input{
    /* Make the input the size of the form */
    width: 100%;
    height: 100%;
    border: none;
    color: #5fa8d3;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
}

.form label{
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid red;
}

.form label::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5fa8d3;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.content-name{
    color: red;
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

/* Every content below the input */
/* When valid text keep the animation  */
.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name{
    transform: translateY(-150%);
    font-size: 14px;
    color: #5fa8d3;
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
    transform: translateX(0%);
}
