@import 'https://fonts.googleapis.com/css?family=Raleway';
@import 'https://fonts.googleapis.com/css?family=Montserrat';

*{
    color:white;
    margin-left:auto;
    margin-right: auto;
}

body, html {
    height: 100%;
    margin: 0;
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://wallpaperaccess.com/full/87205.jpg");
    background-position: center;
    Background-repeat: no-repeat;
    background-size: cover;
}

header {
    font-family: Raleway;
}

header h1
{
    color: rgb(133, 252, 108);
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 4px;
}


/*
Buttons
*/
.movePlease{
    margin-right: 4px;
}

.button1 {
    margin-top: 2px;
    font-family: Montserrat;
    font-weight: lighter;
    width: 300px;
    height: 100px;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #FC7E7E;
}

.button1:hover {
    background-color: #00B233;
    color: white;
}