@import 'https://fonts.googleapis.com/css?family=Raleway';
@import 'https://fonts.googleapis.com/css?family=Montserrat';

*{
    color:white;
    margin-left:auto;
    margin-right: auto;
}

body, html {
    height: 100%;
    margin: 0;
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://wallpaperaccess.com/full/87205.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

header {
    font-family: Raleway;
}

header h1
{
    color: rgb(133, 252, 108);
    font-size: 7vh;
    font-weight: bolder;
    margin-bottom: 0.7vh;
}

/* Normal Buttons */

.button1 {
    margin-top: 0.4vh;
    font-family: Montserrat;
    font-weight: lighter;
    width: 25vw;
    height: 18vh;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 2vw;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    border: 0.4vh solid #FC7E7E;
}



.button1:hover {
    background-color: #00B233;
    color: white;
}

/* Download Buttons */
a{
    text-decoration: none;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 20vh;
}


i{
    margin-right: 1vh;
}