body, html{
    overflow:hidden;
}

body{
    display:flex;
}

.score{
    background-color: whitesmoke;
    width: 55.2vh;
    color: black;
    font-family: Montserrat;
    font-weight: bolder;
    margin:0;
    padding:0;
    font-size: 3vh;
    text-align: center;
}

.player{
    flex: 1 1 auto;
}

canvas{
    border: solid .6vh #fff;
    height: 90vh;
}