body, html{
    overflow:hidden;
}

canvas{
    border: solid .6vh #fff;
    height: 90vh;
    padding: 0;
    margin-right: 58vh;
}

#score{
    background-color: whitesmoke;
    width: 55.2vh;
    color: black;
    font-family: Montserrat;
    font-weight: bolder;
    margin:0;
    padding:0;
    font-size: 3vh;
}

h5{
    float:left;
    position: relative;
    font-weight: lighter;
    margin-right: 0px;
    margin-left: 18vh;
    font-size: 3.1vh;
}