body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    color:white;
}

.location{
    margin: 0;
    padding: 0;
    margin-top: 180px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature{
    flex-direction: column;
}

.degree-section{
    display: flex;
    align-items: center:
    cursor: pointer;
}

.degree-section span{
    margin: 10px;
    font-size: 30px;
}

.degree-section h2{
    font-size: 40px;
}